body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
}


body.light {
  background-color: #000000; /* النهار */
  color: #ffffff;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 50px;
    text-align: center;
}

.hidden {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100%);
    transition: all 2s;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding: 10px 0;
  background-color: rgb(27, 27, 27);
}

.nav-container {
  width: 90%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand h1 {
  font-size: 1.8rem;
  color: white;
  margin: 0;
}

.brand h1 span {
  color: crimson;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 15px;
  border: 1px solid rgb(59, 56, 56);
  border-radius: 5px;
  transition: 0.3s;
}

.home-btn:hover {
  background-color: rgb(26, 25, 25);
  border-color: rgb(255, 255, 255);
}

#toggle-theme {
  background: none;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

#toggle-theme:hover {
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
}

/* الوضع النهاري */
body.light .home-btn,
body.light #toggle-theme {
  color: #ffffff;
  border-color: #1f1e1e;
}

body.light #toggle-theme:hover{
  background-color: rgba(255, 255, 255, 0.85);
}
body.light .home-btn:hover {
  background-color: rgba(19, 18, 18, 0.85);
  border-color: #ffffff;
}

/* Responsive */
@media (max-width: 600px) {
  .brand h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }

  .header-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 5px;
  }

  .home-btn, #toggle-theme {
    width: 45%;
    text-align: center;
  }
}

/* لإعطاء فراغ لأن الـ navbar ثابت */
body {
  padding-top: 80px;
}
